* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    font-size: calc(0.8vh + 0.8vw);
    --grey: rgb(78, 78, 78);
    --blue: rgb(17, 75, 151);
    --lightgray: rgb(230, 230, 230);
}

body {
    background-color: whitesmoke;
    padding: 1rem 10rem;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 20% 55%;
    justify-content: center;
    gap: 0.5rem;
    height: 100vh;
    width: 100vw;
}

div.feedback {
    grid-area: 1 / 1 / 2 / 3;
    border: 1px solid lightgray;
    width: 70vw;
    height: 3rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0 1rem;
    border-radius: 5px;
    background-color: var(--lightgray);
    position: absolute;
}

.feedback p.text {
    font-size: 0.9rem;
    color: var(--grey);
}

.feedback span.status {
    height: 12px;
    width: 12px;
    background-color: tomato;
    border-radius: 50px;
}

div.bookface {
    grid-area: 1 / 1 / 2 / 3;
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 0 1.5rem;
    border-radius: 3px;
}

.bookface p.name {
    transform: rotateY(180deg);
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
}

.author {
    display: flex;
    align-items: center;
    font-size: 0.7rem;
}

.author svg {
    height: 25px;
    width: 25px;
    fill: white;
}

.author a {
    color: white;
    text-decoration: none;
}

.users {
    width: 100%;
    height: 100%;
    background-color: rgb(240, 240, 240);
    border: 1px solid lightgrey;
    border-radius: 5px 0 0 5px;
    grid-area: 2 / 1 / 3 / 2;
}

.header {
    padding: 0 1rem;
    width: 100%;
    height: 10%;
    background-color: var(--lightgray);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.2rem;
    margin-bottom: 1rem;
}

.header p.title {
    color: var(--blue);
    font-weight: bold;
}

.header p.subtitle {
    font-weight: lighter;
    font-size: 0.6rem;
    color: grey;
}

div.user {
    padding: 0 1rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

div.user:hover {
    background-color: rgb(230, 230, 230);
}

.user>svg {
    height: 1.2rem;
    fill: var(--grey);
    margin-right: 0.5rem;
}

.user>p.name {
    font-size: 0.7rem;
}

span.active {
    height: 0.3rem;
    width: 0.3rem;
    border-radius: 50px;
    background-color: green;
    margin-left: auto;
}

.messages, .welcome {
    width: 100%;
    height: 100%;
    background-color: rgb(240, 240, 240);
    border-radius: 0 5px 5px 0;
    border: 1px solid lightgray;
    padding: 0.5rem;
    grid-area: 2 / 2 / 3 / 3;
}

.welcome, .welcome > form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.welcome div.title {
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    gap: 0.2rem
}

div.title span.name {
    transform: rotateY(180deg);
    color: var(--blue);
}

.welcome p.subtitle {
    font-size: 0.7rem;
    color: var(--grey);
}

.welcome form {
    margin-top: 0.5rem;
    flex-direction: row;
    gap: 0.3rem
}

.welcome input[type="text"] {
    width: 10rem;
    height: 1.3rem;
    padding: 0 0.5rem;
    font-size: 0.8rem;
}

.welcome input[type="text"]:focus {
    outline: none;
}

.welcome input[type="submit"] {
    background-color: var(--blue);
    height: 1.3rem;
    padding: 0 0.5rem;
    color: whitesmoke;
}

.messages .header {
    background-color: transparent;
    margin-bottom: 0;
}

.container {
    background-color: whitesmoke;
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    overflow-y: scroll;
    margin-bottom: 0.5rem;
}

div.message {
    background-color: lightgrey;
    font-size: 0.8rem;
    padding: 0.4rem 0.7rem;
    max-width: 80%;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 0.2rem
}

.message p.name {
    font-size: 0.6rem;
    color: var(--blue)
}

.message p.time {
    font-size: 0.5rem;
    color: var(--grey);
}

div.recipient {
    margin-left: auto;
    border-top-right-radius: 0;
}

div.sender {
    margin-right: auto;
    border-top-left-radius: 0;
    border: 1px solid lightgray;
    background-color: transparent;
}

.sender .message {
    font-family: 'Consolas', Arial, Helvetica, sans-serif;
}

div.type {
    height: 4%;
}

form#message {
    height: 100%;
    width: 100%;
}

.type input {
    height: 90%;
    width: 100%;
    border-radius: 0;
    padding: 0 0.5rem;
    font-size: 0.9rem;
    border: 1px solid lightgray;
}

.type input:focus {
    outline: none;
}

@media(max-width: 1024px) {
    body {
        padding: 0;
        grid-template-columns: 30% 60%;
    }

    .bookface p.name {
        font-size: 2rem;
    }

    .author {
        font-size: 1rem;
    }

    .author svg {
        height: 40px;
        width: 40px;
    }

    .header p.title {
        font-size: 1.4rem;
    }

    .header p.subtitle {
        font-size: 1rem;
    }

    .user > svg {
        height: 1.5rem;
    }

    .user > p.name {
        font-size: 1rem;
    }

    span.active {
        height: 0.5rem;
        width: 0.5rem;
    }

    .welcome div.title {
        font-size: 1.7rem;
    }

    .welcome p.subtitle {
        font-size: 1.15rem;
    }

    .welcome form {
        gap: 0.4rem;
    }

    .welcome input[type="text"] {
        width: 15rem;
        height: 2rem;
        font-size: 1rem;
    }

    .welcome input[type="submit"] {
        height: 2rem;
        font-size: 1rem;
    }

    .message {
        font-size: 1.2rem;
    }

    .message p.name {
        font-size: 0.9rem;
    }

    .message p.time {
        font-size: 0.8rem;
    }

    .type input {
        font-size: 1.1rem;
    }
}